
#define	INCL_WINSYS
#define	INCL_WINSTDDLGS
#define	INCL_WINSTDSPIN
#define	INCL_NLS
#define	INCL_SW

#include <os2.h>

#include "except.h"

ICON	    WIN_EXCEPTIONEXAMPLE Except.Ico

MENU WIN_EXCEPTIONEXAMPLE
BEGIN

    SUBMENU "~File",		       IDM_FILE, MIS_TEXT
    BEGIN
	MENUITEM "Dialogue ~1 exception...", IDM_DIALOGUE1EXCEPTION, MIS_TEXT
	MENUITEM "Dialogue ~2 exception...", IDM_DIALOGUE2EXCEPTION, MIS_TEXT
    END
END

DLGTEMPLATE DLG_DIALOGUE1EXCEPTION 850 MOVEABLE	DISCARDABLE
BEGIN
    DIALOG "Dialogue 1 Exception", DLG_DIALOGUE1EXCEPTION, 8, 30, 200, 91,
		FS_NOBYTEALIGN | FS_DLGBORDER |	WS_CLIPSIBLINGS	| WS_SAVEBITS |
		WS_VISIBLE, FCF_TITLEBAR | FCF_SYSMENU
    PRESPARAMS PP_FONTNAMESIZE,	"8.Helv"
    BEGIN
	CONTROL	"OK",		       DID_OK, 75, 5, 50, 12, WC_BUTTON,
					    BS_PUSHBUTTON | BS_DEFAULT |
					    WS_GROUP | WS_TABSTOP | WS_VISIBLE
    END
END

DLGTEMPLATE DLG_DIALOGUE2EXCEPTION 850 MOVEABLE	DISCARDABLE
BEGIN
    DIALOG "Dialogue 2 Exception", DLG_DIALOGUE2EXCEPTION, 8, 30, 200, 91,
		FS_NOBYTEALIGN | FS_DLGBORDER |	WS_CLIPSIBLINGS	| WS_SAVEBITS |
		WS_VISIBLE, FCF_TITLEBAR | FCF_SYSMENU
    PRESPARAMS PP_FONTNAMESIZE,	"8.Helv"
    BEGIN
	CONTROL	"OK",		       DID_OK, 75, 5, 50, 12, WC_BUTTON,
					    BS_PUSHBUTTON | BS_DEFAULT |
					    WS_GROUP | WS_TABSTOP | WS_VISIBLE
    END
END

DLGTEMPLATE DLG_EXCEPTION 850 MOVEABLE DISCARDABLE
BEGIN
    DIALOG "", DLG_EXCEPTION, 16, 40, 385, 168,	FS_NOBYTEALIGN | FS_SCREENALIGN	|
		FS_DLGBORDER | WS_CLIPSIBLINGS | WS_SAVEBITS | WS_VISIBLE,
		FCF_TITLEBAR | FCF_SYSMENU
    PRESPARAMS PP_FONTNAMESIZE,	"8.Helv"
    BEGIN
	CONTROL	IDB_CAT,	       IDB_CAT,	5, 138,	32, 26,	WC_STATIC,
					    SS_BITMAP |	WS_VISIBLE
	CONTROL	"",		       IT_CSEIP, 40, 156, 340, 8, "PDS.3DText",
					    0x1L | 0x400L | WS_VISIBLE
		PRESPARAMS PP_FOREGROUNDCOLORINDEX, CLR_WHITE
		PRESPARAMS PP_BACKGROUNDCOLORINDEX, CLR_RED
	CONTROL	"",		       IT_EXCEPTTYPE, 40, 146, 340, 8, "PDS.3DText",
					    0x1L | 0x400L | WS_VISIBLE
		PRESPARAMS PP_FOREGROUNDCOLORINDEX, CLR_WHITE
		PRESPARAMS PP_BACKGROUNDCOLORINDEX, CLR_RED
	CONTROL	"",		       IT_DEBUGINFO, 40, 100, 155, 44, "PDS.3DText",
					    0x1L | 0x4000L | WS_VISIBLE
		PRESPARAMS PP_FOREGROUNDCOLORINDEX, CLR_WHITE
		PRESPARAMS PP_BACKGROUNDCOLORINDEX, CLR_RED
		PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
	CONTROL	"",		       IT_DETAIL, 200, 124, 180, 21, "PDS.3DText",
					    0x1L | 0x4000L | 0x40L | WS_VISIBLE
		PRESPARAMS PP_FOREGROUNDCOLORINDEX, CLR_BLACK
		PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
	CONTROL	"",		       IT_STATUS, 200, 100, 180, 21, "PDS.3DText",
					    0x1L | 0x4000L | 0x40L | WS_VISIBLE
		PRESPARAMS PP_FOREGROUNDCOLORINDEX, CLR_RED
		PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
	CONTROL	"Process information", -1, 5, 72, 375, 27, WC_STATIC,
					    SS_GROUPBOX	| WS_VISIBLE
	CONTROL	"Process ID:",	       -1, 8, 84, 50, 8, WC_STATIC, SS_TEXT |
					    DT_RIGHT | DT_VCENTER | WS_VISIBLE
	CONTROL	"",		       IT_PID, 60, 84, 25, 8, "PDS.3DText",
					    0x1L | 0x400L | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
	CONTROL	"Thread ID:",	       -1, 8, 74, 50, 8, WC_STATIC, SS_TEXT |
					    DT_RIGHT | DT_VCENTER | WS_VISIBLE
	CONTROL	"",		       IT_TID, 60, 74, 25, 8, "PDS.3DText",
					    0x1L | 0x400L | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
	CONTROL	"Function start:",     -1, 98, 84, 65, 8, WC_STATIC, SS_TEXT |
					    DT_RIGHT | DT_VCENTER | WS_VISIBLE
	CONTROL	"",		       IT_PFNSTART, 165, 84, 45, 8, "PDS.3DText",
					    0x1L | 0x400L | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
	CONTROL	"Function end:",       -1, 98, 74, 65, 8, WC_STATIC, SS_TEXT |
					    DT_RIGHT | DT_VCENTER | WS_VISIBLE
	CONTROL	"",		       IT_PFNEND, 165, 74, 45, 8, "PDS.3DText",
					    0x1L | 0x400L | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
	CONTROL	"Register dump",       -1, 5, 20, 375, 52, WC_STATIC,
					    SS_GROUPBOX	| WS_GROUP | WS_VISIBLE
	CONTROL	"EAX =",	       -1, 8, 56, 35, 8, WC_STATIC, SS_TEXT |
					    DT_RIGHT | DT_VCENTER | WS_VISIBLE
	CONTROL	"",		       IT_EAX, 45, 56, 45, 8, "PDS.3DText",
					    0x1L | 0x400L | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
	CONTROL	"EBX =",	       -1, 107,	56, 26,	8, WC_STATIC, SS_TEXT |
					    DT_RIGHT | DT_VCENTER | WS_VISIBLE
	CONTROL	"",		       IT_EBX, 135, 56,	45, 8, "PDS.3DText",
					    0x1L | 0x400L | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
	CONTROL	"ECX =",	       -1, 197,	56, 26,	8, WC_STATIC, SS_TEXT |
					    DT_RIGHT | DT_VCENTER | WS_VISIBLE
	CONTROL	"",		       IT_ECX, 225, 56,	45, 8, "PDS.3DText",
					    0x1L | 0x400L | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
	CONTROL	"EDX =",	       -1, 287,	56, 26,	8, WC_STATIC, SS_TEXT |
					    DT_RIGHT | DT_VCENTER | WS_VISIBLE
	CONTROL	"",		       IT_EDX, 315, 56,	45, 8, "PDS.3DText",
					    0x1L | 0x400L | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
	CONTROL	"EBP =",	       -1, 8, 46, 35, 8, WC_STATIC, SS_TEXT |
					    DT_RIGHT | DT_VCENTER | WS_VISIBLE
	CONTROL	"",		       IT_EBP, 45, 46, 45, 8, "PDS.3DText",
					    0x1L | 0x400L | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
	CONTROL	"ESP =",	       -1, 107,	46, 26,	8, WC_STATIC, SS_TEXT |
					    DT_RIGHT | DT_VCENTER | WS_VISIBLE
	CONTROL	"",		       IT_ESP, 135, 46,	45, 8, "PDS.3DText",
					    0x1L | 0x400L | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
	CONTROL	"EDI =",	       -1, 197,	46, 26,	8, WC_STATIC, SS_TEXT |
					    DT_RIGHT | DT_VCENTER | WS_VISIBLE
	CONTROL	"",		       IT_EDI, 225, 46,	45, 8, "PDS.3DText",
					    0x1L | 0x400L | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
	CONTROL	"ESI =",	       -1, 287,	46, 26,	8, WC_STATIC, SS_TEXT |
					    DT_RIGHT | DT_VCENTER | WS_VISIBLE
	CONTROL	"",		       IT_ESI, 315, 46,	45, 8, "PDS.3DText",
					    0x1L | 0x400L | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
	CONTROL	"",		       -1, 10, 41, 365,	4, "PDS.3DLine",
					    LNS_HORIZONTAL | WS_VISIBLE
	CONTROL	"CS =",		       -1, 8, 32, 35, 8, WC_STATIC, SS_TEXT |
					    DT_RIGHT | DT_VCENTER | WS_VISIBLE
	CONTROL	"",		       IT_CS, 45, 32, 25, 8, "PDS.3DText", 0x1L	|
					    0x400L | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
	CONTROL	"SS =",		       -1, 108,	32, 25,	8, WC_STATIC, SS_TEXT |
					    DT_RIGHT | DT_VCENTER | WS_VISIBLE
	CONTROL	"",		       IT_SS, 135, 32, 25, 8, "PDS.3DText",
					    LNS_VERTICAL | 0x400L | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
	CONTROL	"DS =",		       -1, 198,	32, 25,	8, WC_STATIC, SS_TEXT |
					    DT_RIGHT | DT_VCENTER | WS_VISIBLE
	CONTROL	"",		       IT_DS, 225, 32, 25, 8, "PDS.3DText",
					    0x1L | 0x400L | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
	CONTROL	"ES =",		       -1, 288,	32, 25,	8, WC_STATIC, SS_TEXT |
					    DT_RIGHT | DT_VCENTER | WS_VISIBLE
	CONTROL	"",		       IT_ES, 315, 32, 25, 8, "PDS.3DText",
					    LNS_VERTICAL | 0x400L | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
	CONTROL	"Flags =",	       -1, 8, 22, 35, 8, WC_STATIC, SS_TEXT |
					    DT_RIGHT | DT_VCENTER | WS_VISIBLE
	CONTROL	"",		       IT_FLAGS, 45, 22, 45, 8,	"PDS.3DText",
					    0x1L | 0x400L | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
	CONTROL	"FS =",		       -1, 198,	22, 25,	8, WC_STATIC, SS_TEXT |
					    DT_RIGHT | DT_VCENTER | WS_VISIBLE
	CONTROL	"",		       IT_FS, 225, 22, 25, 8, "PDS.3DText",
					    LNS_VERTICAL | 0x400L | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
	CONTROL	"GS =",		       -1, 288,	22, 25,	8, WC_STATIC, SS_TEXT |
					    DT_RIGHT | DT_VCENTER | WS_VISIBLE
	CONTROL	"",		       IT_GS, 315, 22, 25, 8, "PDS.3DText",
					    0x1L | 0x400L | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
	CONTROL	"Exit",		       DID_OK, 7, 5, 50, 12, WC_BUTTON,
					    BS_PUSHBUTTON | BS_DEFAULT |
					    WS_TABSTOP | WS_VISIBLE
    END
END
BITMAP	    IDB_CAT Cat.Bmp
